*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    border-bottom: .5em solid black;
    background-color: red;
}
section{
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    border-bottom: .5em solid black;
    background-color: red;
}
.container-flex{
    display: flex;
    flex-direction: row;
    margin: 1em;
}