*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.container-flex{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.container-left{
    width: 25vw;
    box-sizing: border-box;
    border-right: .5em solid black;
    background-color: brown;
}